html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

/*====================MY CODE BELOW======================================*/

* {
	outline: 1px dotted red;
}

	#wrapper {
		background-color: black;
		max-width: 940px;
		min-height: 600px;
		margin: 0 auto;
	}
		#header {
			background-color: gray;
			max-width: 940px;
			min-height: 100px;

		}
		#middle {
			/*background-color: red;
*/			max-width: 940px;
			min-height: 250px;
			padding: 10px 30px 0px 30px;
		}
			div.leftmid {
				background-color: lightblue;
				width: 355px;
				min-height: 245px;
				display: inline-block;
				vertical-align: top;
				margin-right: 15px;
			}
			div.rightmid {
				background-color: yellow;
				width: 505px;
				min-height: 245px;
				display: inline-block;
				vertical-align: top;
			}
		#bottom {
			/*background-color: green;*/
			max-width: 940px;
			min-height: 275px;
		}
			div.bottomheader {
				/*background-color: red;*/
				max-width: 880px;
				min-height: 20px;
				margin: 0 auto;
				padding: 8px 0px;
			}
				div.bottomheader img {
					height: 15px;
					width: 40px;
					margin-left: 10px;
					margin-top: 1px;
					display: inline-block;
					vertical-align: top;
					border-radius: 3px;
				}
				div.bottomheader p {
					display: inline-block;
					vertical-align: top;
					font-size: 11px;
					line-height: 20px;
					color: rgb(252,198,0);
				}
			div.bottomcontent {
				/*background-color: blue;*/
				max-width: 880px;
				min-height: 230px;
				margin: 0 auto;
			}
				div.bottomcontent h4 {
					background: linear-gradient(rgb(249,210,84),rgb(242,190,22),rgb(249,210,84));
					padding: 5px 0px 5px 12px;
					font-size: 12px;
					font-weight: bold;
				}
				div.bottomcontent img {
					width: 100%;
					height: 90px;

				}
				div.bottomcontent p {
					width: 170px;
					font-size: 11px;
					margin-left: 13px;
					margin-top: 13px;
				}
				div.bottomcontent a {
					background-color: rgb(252,198,0);
					display: inline-block;
					text-decoration: none;
					color:black;
					font-size: 11px;
					font-weight: bold;
					padding: 3px 10px;
					border: 1px solid black;
					border-radius: 30px 100px 100px 30px;
					margin: 15px 0px 0px 85px;
				}
				div.bottomfarleft {
					background-color: white;
					width: 205px;
					min-height: 230px;
					display: inline-block;
					vertical-align: top;
					margin-right: 15px;
				}
				div.bottommidleft {
					background-color: white;
					width: 205px;
					min-height: 230px;
					display: inline-block;
					vertical-align: top;
					margin-right: 15px;
				}
				div.bottommidright {
					background-color: white;
					width: 205px;
					min-height: 230px;
					display: inline-block;
					vertical-align: top;
					margin-right: 15px;
				}
				div.bottomright {
					background-color: white;
					width: 205px;
					min-height: 230px;
					display: inline-block;
					vertical-align: top;
				}

















































